{% extends 'layout.html' %}

{% block content %}
<div class="register-container">
    <h1>Register</h1>
    <form method="post" action="{{ url_for('main.register') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.username.label(class="form-control-label") if form.username.label }}
            {{ form.username(size=32, class="form-control") }}
            {% if form.username.errors %}
                <span class="help-block">{{ form.username.errors[0] }}</span>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.password.label(class="form-control-label") if form.password.label }}
            {{ form.password(size=32, class="form-control") }}
            {% if form.password.errors %}
                <span class="help-block">{{ form.password.errors[0] }}</span>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.confirm_password.label(class="form-control-label") if form.confirm_password.label }}
            {{ form.confirm_password(size=32, class="form-control") }}
            {% if form.confirm_password.errors %}
                <span class="help-block">{{ form.confirm_password.errors[0] }}</span>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
    <p>Already have an account? <a href="{{ url_for('main.login') }}">Log in here</a>.</p>
</div>
{% endblock %}